In [19]:
length = 15
print(length)

15

In [20]:
prices = [10,7,5,11, 15]
print(prices)
print(id(prices))

[10, 7, 5, 11, 15]
2114385401664

In [21]:
name, price, quantity = 'Soap', 30, 5
print(name, price, quantity)

Soap 30 5

In [22]:
a, b, c = 1,1,1
print(id(a), id(b), id(c))
print(a,b,c)

140728909121976 140728909121976 140728909121976
1 1 1

In [23]:
a = b = c = 2
print(id(a), id(b), id(c))
print(a,b,c)

140728909122008 140728909122008 140728909122008
2 2 2

In [24]:
a = 15
print(type(a))
a = 12.75
print(type(a))
a = 'Shiva'
print(type(a))
a = [10, 15, 9, 8 ,7]
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [7]:
import sys
x = 1
y = 101
z = 123456789012345
a = 12345678901234567890
print(sys.getsizeof(x))
print(sys.getsizeof(y))
print(sys.getsizeof(z))
print(sys.getsizeof(a))

28
28
32
36

In [5]:
x = 125E2 #125 = mantissa , E2 = exponent

y = 2345e-2
print(type(x))

print(x,y)

z = -3.2E-2
print(type(z), z)

<class 'float'>
12500.0 23.45
<class 'float'> -0.032

# Complex numbers
Here the a + ib -> a is real part and b is imaginary part
i = √-1
## where to use complex numbers
In some scenarios its difficult to determine √-(ve) values eg:
- => 5 + √-9
- => 5 + √-1 * √9
- => 5 + √-1 * 3
- => 5 + i * 3
- => 5 + i3
## Complex in python:
In programming we will use c1 = 5 +3j
because we commonly use i, so we use j instead

In [11]:
c = 10 +5j
print(type(c), c)
c = 2.5 + 3.5j
print(c)
c = complex(5, 3.1)
print(c)
c = complex(10)
print(c)

<class 'complex'> (10+5j)
(2.5+3.5j)
(5+3.1j)
(10+0j)

## What are literals?
1. Integer
2. Float
3. Boolean
4. Complex
5. String

In [ ]:
# We have below four examples
a =5 # We directly assign the value, this is literal
b = 10 # We directly assign the value, this is literal
c = a+b # Here c gets data when we perform addition of a and b, so its not direct
d = int(input('Enter a value')) # We get d value from the user hitting keyboard

#Literals are also called as constants

In [15]:
a = 201
b = 138_234_783 #To read the literals with huge values, we can separate it by underscore _
print(a,b)
#There is no rule to keep underscore after 3 digits
c = 13_34_456
print(c)
#wrong forms:
d = _123
e = 456_
print(d)
print(e)

SyntaxError: invalid decimal literal (441627215.py, line 9)

In [21]:
a = 5_._9
print(a)

SyntaxError: invalid decimal literal (1389043132.py, line 1)

In [22]:
b = 5_890.4e-2
print(b)

58.904

## Number system
1. Decimal: base 10 (0,1,2,3,4,5,6,7,8,9)
2. Binary: base 2(0,1)
3. Octal: base 8(0,1,2,3,4,5,6,7)
4. Hexa: base 16(0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F)

In [23]:
a = 10
b = 0b1010
c = 0o12
d = 0xA

print(a,b,c,d)

10 10 10 10

In [26]:
c1 = 0b1010 + 5j # integer literals in other format are allowed only in integers and complex number real part
print(c1)

(10+5j)

In [9]:
from datetime import datetime as dt


current_date = dt.now().replace(hour=0, minute=0, second=0, microsecond=0)
print(current_date)

target_date = dt(2025, 7, 7)
print(target_date)
days_left = (target_date - current_date).days
print(f"Days left until {target_date.date()}: {days_left}")

2025-05-17 00:00:00
2025-07-07 00:00:00
Days left until 2025-07-07: 51

In [19]:
my_vehicle = {
    "model": "Ford",
    "make": "Explorer",
    "year": 2018,
    "mileage": 40000
}


for key, value in my_vehicle.items():
    print(key, value)
    
vehicle2 = my_vehicle.copy()
print(vehicle2)
vehicle2['number_of_tires'] = 4
vehicle2.pop('mileage')
print(vehicle2.keys())
print(vehicle2.items())
print(vehicle2.setdefault('color', 'Red'))
print(vehicle2.setdefault('model', 'Toyata'))
print(vehicle2)

model Ford
make Explorer
year 2018
mileage 40000
{'model': 'Ford', 'make': 'Explorer', 'year': 2018, 'mileage': 40000}
dict_keys(['model', 'make', 'year', 'number_of_tires'])
dict_items([('model', 'Ford'), ('make', 'Explorer'), ('year', 2018), ('number_of_tires', 4)])
Red
Ford
{'model': 'Ford', 'make': 'Explorer', 'year': 2018, 'number_of_tires': 4, 'color': 'Red'}

In [7]:
a = [[1,2],[3,4]]
b = a.copy()

print(a,b)
print(id(a), id(b))
a[0][0] = 5
b[1][0] = 9
print(a,b)
print(id(a), id(b))

import copy
c = [[10,20],[30,40]]
d = copy.deepcopy(c)

print(c,d)
print(id(c), id(d))

c[0][0] = 100
d[1][1] = 300

print(c,d)
print(id(c), id(d))

[[1, 2], [3, 4]] [[1, 2], [3, 4]]
2115390427008 2115391425344
[[5, 2], [9, 4]] [[5, 2], [9, 4]]
2115390427008 2115391425344
[[10, 20], [30, 40]] [[10, 20], [30, 40]]
2115391400768 2115389648128
[[100, 20], [30, 40]] [[10, 20], [30, 300]]
2115391400768 2115389648128

In [33]:
def query_users(*events,**filters):
    # events[0] = "Details"
    # events[1].append('Details')
    print(events)
    print(filters)
    return "Select * from users where " + " and ".join(f"{k}='{v}'" for k,v in filters.items())

print(query_users("User Details", "Name and Age", name="Shiva", age=26))

('User Details', 'Name and Age')
{'name': 'Shiva', 'age': 26}
Select * from users where name='Shiva' and age='26'

In [ ]:
x = 5

def outer():
    x = 15
    def inner():
        nonlocal x
        x = 20
        print(x)
    
    inner()
outer()
print(x)

SyntaxError: no binding for nonlocal 'x' found (4123541008.py, line 7)

In [10]:
from typing import Union
class Animal:
    
    def __init__(self, weight = None, color= None, age = None, animal_type = None):
        self.weight: int = weight
        self.color:str = color
        self.age:int = age
        self.animal_type: str = animal_type
    
    
    def eat(self, stuff:Union[str,None]=None):
        print(f"{self.__class__.__name__} is eating {stuff if stuff else ""}")
    
class Dog(Animal):
    
    def __init__(self, breed: Union[str,None] = None):
        super().__init__()
        self.talk:str = 'bark!'
        self.breed = breed
    
    def sound(self):
        print(self.talk)
    
    def eat(self):
        super().eat()
        print("Chew on Bones")
        
dog = Dog()
dog.eat()
dog.sound()

Dog is eating
Chew on Bones
bark!